# Global ignores
.git
.gitignore
.DS_Store
__pycache__
*.pyc
.env
.env.local
.dockerignore

# Frontend 
frontend/node_modules
frontend/dist
frontend/Dockerfile
frontend/.dockerignore
frontend/.gitignore
frontend/public

# Backend
backend/__pycache__
backend/.pytest_cache
backend/Dockerfile
backend/.dockerignore
backend/.gitignore
backend/.venv/

# Ignore environment and config files
frontend/.env
backend/.env

