.menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background: rgba(80,80,80,0.85);
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
};

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}