:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --light-text: rgba(255, 255, 255, 0.87);
  --main-purple-color: rgba(100, 108, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  font-weight: 500;
  color: var(--main-purple-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--main-purple-color);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--light-text);
}
